body {
  font-family: Arial, sans-serif;
  background:lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: #fff;
  padding:5rem;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.timer {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f2f2f2;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

li:hover {
    box-shadow: #0984e3;
  background: #dfe6e9;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background: #0984e3;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
}

button:hover {
  background: #74b9ff;
}

.hidden {
  display: none;
}
 
footer{
  background-attachment: scroll;
  background-color: #fff;
}